p.questions-list-paragraph.mod-freedrag {
  line-height: 40px;
  margin-left: 40px;
}

span.freedraggable {
  background: @light-green;
  border-radius: 5px 5px;
  min-width: 80px;
  padding: 8px 10px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  font-weight: 500;
  font-size: 14px;
  color: @navy;
  
  &.is-dragging {
    background: @light-grey;
  }
} 


.left-space:not(:empty) {
  &:before {
    content: " "
  }
}

.right-space:not(:empty) {
  &:after {
    content: " "
  }
}

.space {
  &:before, &:after {
    content: " ";
    //border: 1px solid grey;
  }
}

.caret {
  position: fixed;
  width: 2px;
  border-left: 2px dotted #808080;
  display: none;
  &.is-visible {
    display: inline;
  }
}

.blink {
  animation: blink-animation 0.5s steps(2, start) infinite;
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
