.page-split.mod-requirement {
  .audio-player {
    margin: 20px 0;
    width: 95%;
  }

  .page-split-one-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      text-align: center;
    }
  }

  .requirement-paragraph {
      text-indent: 0px;
      padding: 0;
      width: 100%;
      margin-top: 10px;

      &.mod-dragdrop {
        margin-top: -25px;
      }
    }

  @media @mediumScreen, @largeScreen, @extraLargeScreen {
      .requirement-paragraph.mod-dragdrop {
        margin: 15px 0 15px 5px;
      }
  }
}