* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mod-capitalization {
  text-transform: capitalize;
}

.container {
    width: 100vw;
    max-width: @max-content-width;
    min-height: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

.container.mod-split {
    width: 100%;
    border: 0;
    box-shadow: none;
  }


h1, h2 {
  padding: 20px;
}

p {
  line-height: 26px;
  color: @black;
  margin: 20px;
}

/*For IE*/
.content {
  width: 100%;

  &.mod-vertical-align {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
  }

  &.mod-horizontal-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media @mediumScreen, @largeScreen, @extraLargeScreen {
  .content {
    width: @max-question-width;
    margin: 0 auto;

    &.mod-border {
      border: 1px solid @light-grey;
      border-radius: 5px;
      box-shadow: 0 0 7px @light-grey;
      margin-top: 20px;
      padding: 0 20px 20px 20px;

      &.mod-audio {
        padding: 0;
      }

      &.mod-card {
        border-top: 4px solid @green;
        border-bottom: 4px solid @green;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
      }
    }

    hr {
      display: none;
    }
  }
}

@media @extraLargeScreen {
  .container {
    border-left: 1px @light-grey solid;
    border-right: 1px @light-grey solid;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: @navy;
  }
}

