/**
 * This CSS styles the questions and answers lists with a gap between the number and
 * content, correct horizontal and vertical spacing, and the correct labels and colours.
 */

ol {
  font-size: 16px;
  color: @black;
  padding: 0;
}

ol.questions { 
  margin: 0;
  list-style: none; 
  
  hr {
    position: relative;
    margin: 0 -20px;
    border: 0;
    background-color: @grey;
    height: 1px;
  }
}

li.questions-list {
  background: url(../../media/sequence-background-image.svg) no-repeat left 11px top;
  background-size: 28px 39px;
  border: 1px solid @navy;
  border-radius: 5px;
  padding: 13px 10px 0 16px;
  margin: 20px;
  color: @white;
}

p.questions-list-title {
  margin: -20px 0 16px 40px;
}

ol.questions-list-answers {
  margin-left: -5px;
  list-style: upper-alpha inside;
  
  & > li {
    padding-left: 39px; /*Use padding left to adjust the position of option for puttng selected circle*/
    margin: 0 0 20px 0px;
    text-indent: -30px;
    line-height: 30px;
    border: 0;
    font-weight: normal;
    color: @navy;

    & > span {
      margin-left: 10px;
      color: @black;
      font-size: 16px;
      font-weight: normal;
    }
  }
}

ol.questions-list-answers.mod-horizontal-align {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  & > li {
    padding: 0 5px 0 5px;
  }
}

ol.questions-list-answers.mod-image-align {
  display: flex;
  flex-wrap: wrap;
  
  & > li {
    width: 50%;
    min-width: 150px;
  }

  .audio-player {
    background: none;
    
    &-play {
      margin: 0 auto;
    }

    &-pause {
      margin: 0 auto;
    }

    &-track {
      display: none;
    }
  }
}

.audio-player.mod-inside-option {
  width: 100%;
}

@media @mediumScreen, @largeScreen, @extraLargeScreen {
    ol.questions {
      max-width: @max-question-width;
      margin: 0 auto;
    } 

    li.questions-list {
      margin: 20px 0 0 0;
    }

    li.questions-list.mod-audio {
      margin: 20px;
    }
}